@model Cradle.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div id="registerDiv" class="body-container col-lg-12">
    <div class="col-md-4">
        <section id="registrationInfoDiv">
            Why Register?
        </section>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Create your account</h3>
            <hr />
            @Html.ValidationSummary()
            
            <h4>Account Information</h4>
            <hr />
            
            //Acount Details
            <div id="accountDetailsDiv">
                <div class="form-group">
                    @Html.LabelFor(m => m.MemberAccountType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @foreach (var item in Enum.GetNames(typeof(Cradle.Models.Enums.Role)))
                        {
                            if(item.ToString().Equals(Cradle.Models.Enums.Role.Member.ToString()))
                            {
                               @Html.RadioButtonFor(m => m.MemberAccountType, item, new {@checked = "true",})
                            }
                            else
                            {
                                @Html.RadioButtonFor(m => m.MemberAccountType, item)
                            }
                            @Html.Label(item);
                            <br />
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SecurityQuestion, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.SecurityQuestion, 
                        new SelectList(Model.SecurityQuestions, "Id", "SecurityQuestion", 1),
                        new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SecurityAnswer, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "form-control" })
                    </div>
                </div>
                
            </div>
            
            //Business Details
            <div id="designerDiv" class="collapse">
                <hr />
                <h4>Designer Information</h4>
                <hr />

                <div id="businessDetailsDiv">
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.DateEstablished, new { @class = "col-md-3 control-label" })
                        <div class="col-md-2">
                            @Html.EditorFor(m => m.DateEstablished, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessEmailAddresss, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.BusinessEmailAddresss, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessMobile, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.BusinessMobile, new { @class = "form-control" })
                        </div>

                        @Html.LabelFor(m => m.BusinessLandline, new { @class = "col-md-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.BusinessLandline, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetNo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.StreetNo, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.StreetName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Municipality, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Municipality, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.BusinessCity, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.BusinessCity, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessZipCode, new { @class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.BusinessZipCode, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.BusinessCountry, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.DropDownList("BusinessCountry", new List<SelectListItem>
                        {
                            new SelectListItem { Text="Philippines", Value="PH" }
                        }, new { @class = "col-md-12" })
                        </div>
                    </div>
                </div>
            </div>
            
           
            <hr />
            <h4>Personal Information</h4>
            <hr />
            
            //Personal Details
            <div id="personalDetailsDiv" >
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.DropDownList("Country", new List<SelectListItem>
                        {
                            new SelectListItem { Text="Philippines", Value="PH" }
                        }, new { @class = "col-md-12" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MobileNo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(m => m.LandlineNo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.LandlineNo, new { @class = "form-control" })
                    </div>
                </div>
              
                <div class="form-group">
                    @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.BirthDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            
            
            //Register Button
             <div id="submitBtn">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            </div>

        }
    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/register")
}
