@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div id="registerDiv" class="body-container col-lg-12">
    <div class="col-md-4">
        <section id="registrationInfoDiv">
            Why Register?
        </section>
    </div>
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Create your account</h3>
            <hr />
            @Html.ValidationSummary()
            
            <h4>Account Information</h4>
            <hr />
            
            //Acount Details
            <div id="accountDetailsDiv">
                <div class="form-group">
                    @Html.LabelFor(m => m.MemberAccountType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @foreach (var item in Enum.GetNames(typeof(Cradle.Models.Enums.Role)))
                        {
                            if(item.ToString().Equals(Cradle.Models.Enums.Role.Member.ToString()))
                            {
                               @Html.RadioButtonFor(m => m.MemberAccountType, item, new {@checked = "true",})
                            }
                            else
                            {
                                @Html.RadioButtonFor(m => m.MemberAccountType, item)
                            }
                            @Html.Label(item);
                            <br />
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SecurityQuestion, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.SecurityQuestion, 
                        new SelectList(Model.SecurityQuestions, "Id", "SecurityQuestion", 1),
                        new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SecurityAnswer, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "form-control" })
                    </div>
                </div>
                
            </div>
            
            //Business Details
            <div id="designerDiv" class="collapse">
                <hr />
                <h4>Designer Information</h4>
                <hr />

                <div id="businessDetailsDiv">
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.DateEstablished, new { @class = "col-md-3 control-label" })
                        <div class="col-md-3">
                            @Html.EditorFor(m => m.DateEstablished, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessEmailAddresss, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.BusinessEmailAddresss, new { @class = "form-control" })
                        </div>
                        <label class="col-md-3 control-label">
                            Made Type
                            <span id="collectionInfo" class="glyphicon glyphicon-question-sign"
                                  data-toggle="tooltip" data-placement="right"
                                  title="Custom Made: Creates custom made items / Open for fashion consultations"></span>
                        </label>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.IsRTW)
                            @Html.CheckBoxFor(m => m.IsRTW)
                            @Html.LabelFor(m => m.IsCustomMade)
                            @Html.CheckBoxFor(m => m.IsCustomMade)
                            
                        </div>
                    </div>
                    <div class="form-group">
                        
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessMobile, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.BusinessMobile,
                            new
                            {
                                @id = "businessMobileNo",
                                @class = "bfh-phone bfh-countries form-control",
                                @data_country = "businessCountryDropdown"
                            })
                        </div>

                        @Html.LabelFor(m => m.BusinessLandline, new { @class = "col-md-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.BusinessLandline, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetAddress, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.BusinessCity, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.DropDownList("BusinessCity", new List<SelectListItem>(),
                            new
                            {
                                @class = "form-control bfh-states",
                                @data_country = "businessCountryDropdown",
                                @data_state = "MEM"
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        
                        @Html.LabelFor(m => m.BusinessCountry, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.DropDownList("BusinessCountry", new List<SelectListItem>(),
                            new { @id = "businessCountryDropdown", @class = "input-medium form-control bfh-countries", @data_country = "PH", @data_available = "PH" })
                        </div>
                        @Html.LabelFor(m => m.BusinessZipCode, new { @class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.BusinessZipCode, new { @class = "form-control" })
                        </div>
                       
                    </div>
                </div>
            </div>
            
           
            <hr />
            <h4>Personal Information</h4>
            <hr />
            
            //Personal Details
            <div id="personalDetailsDiv" >
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.DropDownList("City", new List<SelectListItem>(),
                            new
                            {
                                @class = "form-control bfh-states",
                                @data_country = "countryDropdown"
                            })
                    </div>
                    @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.DropDownList("Country", new List<SelectListItem>(), 
                        new {@id = "countryDropdown", 
                            @class = "input-medium form-control bfh-countries", 
                            @data_country = "PH"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MobileNo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @*@Html.TextBox("countryCode", string.Empty,
                        new {@id = "countryCode", @class = "bfh-phone bfh-countries col-sm-5 disabled",
                            @data_country = "countryDropdown", @readonly = "readonly"})*@
                        @Html.TextBoxFor(m => m.MobileNo, 
                        new {@id = "mobileNo", @class = "bfh-phone bfh-countries form-control", 
                            @data_country = "countryDropdown"})
                        @*@Html.TextBoxFor(m => m.MobileNo,
                        new
                        {
                            @id = "mobileNo",
                            @class = "form-control"
                        })*@
                    </div>
                    @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.BirthDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            
            
            //Register Button
             <div id="submitBtn">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            </div>

        }
    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pagesJS")
    @Scripts.Render("~/bundles/formhelpers")
}
