<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title</title>*@
    <title>Cradle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* Header *@
    <header>
        <nav id="navHeader" class="navbar navbar-default navbar-fixed-top">
            <div class="col-sm-1">
                <ul class="nav navbar-nav">
                    <li style="font-size: 2em;">@Html.ActionLink("Cradle", "Index", "Home")</li>
                </ul>
                
            </div>
            <div class="col-sm-11">
                <section id="login" class="float-right">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </nav>
    </header>
    <div id="header" class="navbar-fixed-top">
        <ul class="nav nav-pills menu-items col-sm-offset-3">
            <li>@Html.ActionLink(Resources.Resource.meetDesigner, "Designers", "Home")</li>
            <li>@Html.ActionLink(Resources.Resource.designs, "Lookbook", "Home")</li>
            <li>@Html.ActionLink(Resources.Resource.justForYou, "Designers", "Home", new { filter = "custom-made" }, null)</li>
            <li>@Html.ActionLink(Resources.Resource.aboutUs, "About", "Home")</li>
        </ul>
    </div> 
   
    @* Body *@
    <div id="body" class="content-wrapper">
        <section class="main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @* Footer *@
    <footer class="navbar-fixed-bottom">
        <div class="col-lg-12">
            <div id="links" class="col-sm-offset-4">
                <span>@Html.ActionLink(Resources.Resource.aboutUs, "About", "Home")</span>|
                <span>@Html.ActionLink(Resources.Resource.contactUs, "Contact", "Home")</span>|
                <span>@Html.ActionLink(Resources.Resource.termsOfUse, "About", "Home")</span>|
                <span>@Html.ActionLink(Resources.Resource.investors, "About", "Home")</span>
                <br />
                <small class="col-sm-offset-2">Copyright 2016</small>
            </div>

        </div>
    </footer>
    
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
